<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a5bdb78e74.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js" crossorigin="anonymous"></script>
<script>
    /* 사이드바 토글 */
    $("#btn_sidebar_open").click(function () {
        $("#container_sidebar").addClass("sidebar-open");
    });
    $("#btn_sidebar_close").click(function () {
        $("#container_sidebar").removeClass("sidebar-open");
    });
    /* 모바일 뒤로가기 이벤트시 사이드바 우선 닫기 */
    
    $(function () {
        $(window).on('popstate', function(e) {
            alert("popstate event");
            if($("#container_sidebar").hasClass("sidebar-open")){
                e.stopPropagation();
                $("#container_sidebar").removeClass("sidebar-open");
            }
        });
    })
    /* 카테고리 */
    $("#container_sidebar .sidebar-category-item").click(function () {
        var category = $(this).attr("data-category");
        switch(category){
            case "all":
                location.href = "/";
            break;
            default:
                location.href = "/category/" + category + ".html";
            break;
        }
    });
</script>