{% if list.size > 0 %}
    <!-- 포스트 카테고리명 -->
    <div class="category-name">
        {{ page.title }}
        <span class="category-list-size">총 {{ list.size }}건</span>
    </div>
    <hr class="post-list-border">
    <!-- 포스트 리스트 -->
    {% for post in paginator.posts %}
    <div class="post-list-item px-2" onclick="location.href = '{{ post.url }}';">
        <div class="post-list-subject">{{ post.title }}</div>
        <div class="post-list-excerpt mt-1">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</div>
        <div class="post-list-footer mt-2 py-1">
            <span class="post-list-category">{{ post.categories[0] }}</span>
            <span class="post-list-uploadtime">{{ post.date | slice: 0, 16 }}</span>
        </div>
    </div>
    <hr class="post-list-border">
    {% endfor %}
    <!-- 페이징 디자인 -->
    <div class="my-3">
        {% if paginator.total_pages > 1 %}
        <div class="page-container">
            <!-- 이전 -->
            {% if paginator.previous_page %}
            <button class="page-button" onclick="location.href = '{{ paginator.previous_page_path | relative_url }}';">
                <i class="fa fa-chevron-left"></i>
            </button>
            {% else %}
            <button class="page-button disabled">
                <i class="fa fa-chevron-left"></i>
            </button>
            {% endif %}
            <!-- 페이지 -->
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <button class="page-button curpage">{{ page }}</button>
                {% elsif page == 1 %}
                <button class="page-button" onclick="location.href = '{{ '/' | relative_url }}';">{{ page }}</button>
                {% else %}
                <button class="page-button" onclick="location.href = '{{ site.paginate_path | relative_url | replace: ':num', page }}';">{{ page }}</button>
                {% endif %}
            {% endfor %}
            <!-- 다음 -->
            {% if paginator.next_page %}
            <button class="page-button" onclick="location.href = '{{ paginator.next_page_path | relative_url }}';">
                <i class="fa fa-chevron-right"></i>
            </button>
            {% else %}
            <button class="page-button disabled">
                <i class="fa fa-chevron-right"></i>
            </button>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% else %}
    <!-- 포스트 카테고리명 -->
    <div class="category-name">
        {{ page.title }}
        <span class="category-list-size">총 0건</span>
    </div>
    <hr class="post-list-border">
    <!-- 포스트 리스트 -->
    <div class="post-list-no-item px-2">
        <i class="fa-solid fa-triangle-exclamation"></i>
        등록된 포스트가 없습니다.
    </div>
    <hr class="post-list-border">
{% endif %}