<div id="container_topbar">
    <div class="blog-contents-center px-3 py-2" style="display: grid; grid-template-columns: 1fr 1fr;">
        <!-- 블로그 로고 -->
        <span>
            <img src="{{ "/assets/img/full_logo_invert.png" }}" onclick="location.href = '/index.html';" style="height: 42px; position: relative; bottom: 2px; cursor: pointer;"/>
        </span>
        <!-- PC버전 -->
        <span class="container_search d-none d-lg-block" style="justify-self: flex-end;">
            <i class="fa-solid fa-magnifying-glass align-middle"></i>
        </span>
        <!-- 모바일 사이드바 오픈 아이콘 -->
        <span id="btn_sidebar_open" class="d-block d-lg-none" style="justify-self: flex-end;">
            <i class="fa-solid fa-bars align-middle"></i>
        </span>
    </div>
</div>