<!DOCTYPE html>
<html>
    <head>
        <!-- 헤더 (link,style) -->
        {% include header.html %}
    </head>
    <body>
        <div>
            <!-- 상단바 -->
            {% include topbar.html %}
            <!-- 컨텐츠 -->
            <div id="container_contents">
                <div class="blog-contents-center" style="padding-top: 3rem;">
                    <div class="row m-0">
                        <!-- 리스트 -->
                        <div id="container_list" class="col-12 col-lg-9 my-3">
                            <div id="list" class="px-3 py-2">{{ content }}</div>
                        </div>
                        <!-- 사이드바 -->
                        {% include sidebar.html %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <foot>
        <!-- 푸터 (script) -->
        {% include footer.html %}
    </foot>
</html>