<div id="container_topbar">
    <div class="blog-contents-center px-3 pt-3 pb-2" style="display: grid; grid-template-columns: 1fr auto;">
        <!-- 블로그 로고 -->
        <div style="justify-self: center;">
            <img src="{{ "/assets/logo/logo_dark.png" }}" onclick="location.href = '/';" style="height: 42px; position: relative; cursor: pointer; filter: invert(0.80) brightness(0.95);"/>
        </div>
        <!-- 모바일 사이드바 오픈 아이콘 -->
        <div id="btn_sidebar_open" class="d-block d-lg-none" style="justify-self: flex-end;">
            <i class="fa-solid fa-bars align-middle"></i>
        </div>
    </div>
</div>